footer 
    .container.footer-container
        .social-icon-block  
            a(href="https://t.me/gubinvs").social-icon-block__icon
                img(src="../img/tel-icon.svg", alt="Иконка телеграмм")
            a(href="https://vk.com/gubinvs").social-icon-block__icon
                img(src="../img/vk-icon.svg", alt="Иконка вконтакте")
            a(href="mailto:gubinvs@gmail.com").social-icon-block__icon
                img(src="../img/mail-icon.svg", alt="Иконка электронной почты")
            a(href="https://www.instagram.com/gubinvs/").social-icon-block__icon 
                img(src="../img/instagram-icon.svg", alt="иконка инстаграмм")
        a(href="https://gubinvs.ru/lean/lean.html").company-link Бережливая компания
        