//- Подключил шаблон с разметкой страницы
extends doctypes.pug

//- Изменил название страницы
block doctype
    //- Описание страницы в head discription
    - var contentDiscription = 'Как создавать ценность';
    //- Наименование главной страницы
    - var titleName = 'Вся идеология бережливого производства заключается в организации потока создания ценности и исключение мУда.';
    //- Массив с путями к файлам со стилями
    - var stylePath = [];

//- Вставил блок с будующим контентом
block content
    .container
        .header
            a(href="https://gubinvs.ru")
                img(src="../img/logo.svg", alt="Логотип палец вверх и надпись gubinvs.ru")
        img(src="img/main-img.jpg", alt="Ценность и люди на качелях перевешивают друг друга").img-fluid
        h1.main-title Как создавать ценность,<br> а не мУда?
    .container.text-block
        p.lead С начала определимся с терминами. В  концепции бережливого производства ценность - это продукт или услуга глазами клиента, если произведенное или предлагаемое не нужно потребителю, в этом нет ценности. МУда (от японского потери) - деятельность, которая потребляет ресурсы, но не создает ценности. 
        p.lead Пришел на работу, подготовил отчет, отправил коммерческое предложение, выпил кофе, съел печенку и наделал мУда.
        img(src="img/smail.png", alt="Веселый смайлик указывающий на светлую мысль в виде лампочки").img-thumbnail.img-smail
        .h3 Вся идеология бережливого производства заключается в организации потока создания ценности и исключение мУда.
        p.lead Кто-то не согласиться, ведь отчет очень важная работа. Как управлять тем, что нельзя посчитать и коммерческое предложение тоже, очень важно! Иначе, как продавать или донести до потребителя важную информацию о своем продукте? 
        p.lead Несомненно, но не с точки зрения потребителя - это мУда, ему это не нужно, соответственно, для него, в этом нет ценности, а значит это мУда. 
        p.lead А вот, если отчет или коммерческое предложение делается для своего клиента, например на аутсорсинге, то это уже для него ценность! 
                | Вроде делал одно и тоже, но в первом случае это мУда, а во втором ценность. 
                | Конечно, нельзя совсем обойтись без мУда, поэтому их принято разделять. 
        p.lead <b>МУда первого рода</b> - это отчет, коммерческое предложение (в нашем случае), проверка качества выпускаемой продукции - это мУда без которой нельзя обойтись.
                | То без чего можно обойтись, <b>мУда второго рода</b> и от них нужно максимально избавляться.
        .h3 Ответ прост:
        p.lead На все действия смотреть с точки зрения потребителя, стараться делать только то, что создает для него ценность или помогает ее создавать. Все остальное нужно максимально исключать.
        p.lead
    include html/footer.pug 
    
    
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js", integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe", crossorigin="anonymous")

       